{% extends 'base.html.twig' %}

{% block title %}Registration - Nutrient Diay{% endblock %}

{% block body %}
    
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-lg m-2 content registration flex-fill">
            <div class="row content-header p-3">
                <div class="col">
                    <h5>Registration</h5>
                </div>
            </div>
            <div class="row p-3">
                <div class="col">
                    {{ form_start(registrationForm) }}
                    <div class="form-label"> {{ form_label(registrationForm.name, 'Name') }} </div>
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.name) }} </div>

                    <div class="form-label"> {{ form_label(registrationForm.email, 'Email') }} </div>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.email) }} </div>

                    <div class="form-label"> {{ form_label(registrationForm.plainPassword, 'Password') }} </div>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.plainPassword) }} </div>

                    <button type="submit" class="btn btn-primary mt-3 mb-3 d-grid gap-2 col-12 mx-auto">Register</button>
                {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
