{% extends 'base.html.twig' %}

{% block title %}

    {{ date }} - Nutrient DIary

{% endblock %}

{% block body %}

    <div class="col-lg-4 my-3">
        {{ form_start(dateForm) }}
            <div class="form-label"> {{ form_label(dateForm.date, 'Choose a day') }} </div>
                <div class="d-flex align-items-start">                   
                    {{ form_widget(dateForm.date, {'attr': {'class': 'form-control'}}) }}
                    <button type="submit" class="btn btn-success ms-3">Choose</button>
                </div>
            <div class="form-errors m-1"> {{ form_errors(dateForm.date) }} </div>
        {{ form_end(dateForm) }}  
    </div>
    <div class="row">
        <div class="col-lg bg-light m-2 p-5 content">
            <h1 class="d-inline-flex">{{ date }}</h1>
            {% if "now"|date("Y-m-d") == date %}
                <h2 class="align-top d-inline-flex"><span class="mx-3 badge bg-warning">today</span></h2>
            {% endif %}
            {% if diaries is empty %}
                <div class="mt-4">No products</div>
            {% else %}
                <table class="table mt-5">
                    <tbody>
                        <tr>
                            <th></th>
                            <th>product name</th>
                            <th>quantity</th>
                            <th>fat</th>
                            <th>carbo</th>
                            <th>protein</th>
                            <th></th>
                        </tr>
                        {% set counter = 1 %}
                        {% for product in diaries %}
                        <tr>
                            <td>{{ counter }}.</td>
                            <td>{{ product.product.name }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.nutrientContent.fat }}</td>
                            <td>{{ product.nutrientContent.carbo }}</td>
                            <td>{{ product.nutrientContent.protein }}</td>
                            <td>
                                <form action="{{ path('delete-product-from-diary') }} " method="POST">
                                    <input type="hidden" name="delete-product" value="{{ product.id }}">
                                    <input type="hidden" name="date" value="{{ date }}">
                                    <button type="submit" class="btn btn-danger btn-sm">delete</button>
                                </form>
                            </td>
                        </tr>
                        {% set counter = counter + 1 %}
                        {% endfor %}
                    </tbody>
                    <caption>Nutrient content [g]</caption>
                </table>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg bg-light m-2 p-5 content">
            <h1>Add product to diary</h1>
            {{ form_start(chooseProductForm) }}
            <div class="row align-items-start">
                <div class="col-md-6">
                    <div class="form-label">{{ form_label(chooseProductForm.productId, 'choose a product') }} </div>           
                    {{ form_widget(chooseProductForm.productId, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors m-1"> {{ form_errors(chooseProductForm.productId) }} </div>
            </div>
            <div class="col-md-6">
                <div class="form-label"> {{ form_label(chooseProductForm.quantity, 'quantity (g/ml)') }} </div>                
                    {{ form_widget(chooseProductForm.quantity, {'attr': {'class': 'form-control'}}) }}
                <div class="form-errors m-1"> {{ form_errors(chooseProductForm.quantity) }} </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success px-4 my-1">Add</button>
        {{ form_end(chooseProductForm) }}      
    </div>
    <div class="col-lg bg-light m-2 p-5 content">
        <h1>Targets</h1>
        No target set
        </div>
    </div>

{% endblock %}


