{% extends 'base.html.twig' %}

{% block title %}Register - Nutrient Diary{% endblock %}

{% block body %}
    
        <div class="container d-flex justify-content-center pt-5">
            <div class="registration flex-fill">
            <div class="col-lg bg-light m-2 p-5 content">
                <h1>Register</h1>
                {{ form_start(registrationForm) }}
                    <div class="form-label"> {{ form_label(registrationForm.name, 'Name') }} </div>
                    {{ form_widget(registrationForm.name, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.name) }} </div>

                    <div class="form-label"> {{ form_label(registrationForm.email, 'Email') }} </div>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.email) }} </div>

                    <div class="form-label"> {{ form_label(registrationForm.plainPassword, 'Password') }} </div>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    <div class="form-errors"> {{ form_errors(registrationForm.plainPassword) }} </div>

                    <button type="submit" class="btn btn-success mt-3 mb-3 d-grid gap-2 col-12 mx-auto">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>

{% endblock %}
